<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Retreat Schedule | Home</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" type="image/png" href="~/assets/favicon.png" />

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="~/assets/css/LineIcons.css">

    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="~/assets/css/animate.css">

    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="~/assets/css/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/landing_style.css">

</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navbar-area headroom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">

                            
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

        <div id="home" class="header-hero bg_cover d-lg-flex align-items-center" style="background-color: #f8f8f8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-hero-content text-center">
                            <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"><b>Retreats & Workshops</b></h1>
                            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"> <b>Book and attend opus dei annual retreats in Nigeria</b> </p>
                            <hr/>
                            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                These annual retreats help us to  improve our relationship with God and others. 
                                They normally take place over a long weekend, in a conference centre away from the noise of the city. 
                                This schedule includes short talks on catholic faith, the holy rosary, spiritual reading and ample time for personal reflection and a conversation
                                with a catholic Priest.
                            </p>
                            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">You can select below to book and attend some organized in Nigeria.</p>
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->

                <div class="row  pt-5">
                    <div class="col-sm-6 pb-1 text-center">
                        <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                            <a class="main-btn" asp-controller="Home" asp-action="Index">For Men</a>
                        </div>
                    </div>
                    <div class="col-sm-6 pb-1 text-center">
                        <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                            <button class="main-btn">For Women</button>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
           
        </div> <!-- header hero -->
    </header>

    <!--====== HEADER PART ENDS ======-->


    <!--====== FOOTER PART START ======-->

    <footer id="footer" >
        <div class="container">

        </div> <!-- container -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->




    <!--====== Jquery js ======-->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>

    <!--====== Circles js ======-->
    <script src="~/assets/js/circles.min.js"></script>

    <!--====== Appear js ======-->
    <script src="~/assets/js/jquery.appear.min.js"></script>

    <!--====== WOW js ======-->
    <script src="~/assets/js/wow.min.js"></script>

    <!--====== Headroom js ======-->
    <script src="~/assets/js/headroom.min.js"></script>

    <!--====== Jquery Nav js ======-->
    <script src="~/assets/js/jquery.nav.js"></script>

    <!--====== Scroll It js ======-->
    <script src="~/assets/js/scrollIt.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/assets/js/main.js"></script>

</body>

</html>
