################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RetreatSchedule/bin
/RetreatSchedule/Migrations
/RetreatSchedule/obj
/RetreatSchedule/appsettings.json
