
<div class="modal fade" id="weAreClosedModal" tabindex="-1" role="dialog" aria-labelledby="weAreClosedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="post-content">
                <div class="post-image" style="max-height: 400px; overflow: hidden;">
                    <div class="post-image-cover" style="background-image: url(/images/we_are_closed.jpg)"></div>
                </div>

                <div class="p-r-20" style="text-align: right;">
                    <button id="supportBtn" type="button" class="btn btn-primary btn-lg"> <i class="fas fa-credit-card"></i> Please support us </button>
                </div>

                <div class="post-info p-15">
                    <h4 class="post-title">
                        Here's a special appeal to support Iroto & Iwollo Conference Centres
                    </h4>

                    <div class="post-desc">
                        As a result of the policies in place to curtail the spread of the Covid-19 pandemic, retreats and seminars scheduled to hold at Iroto Conference Centre for this year have been postponed till further notice.<br />
                        This implies no income to provide for the expenses of maintaining the Conference Centre.<br />
                        To be able to meet our financial obligations, including remuneration of our staff, most of whom support rural households, we appeal for your support.<br />
                        Thank you.
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>
