@model RetreatSchedule.Models.Setting

@{
    ViewData["Title"] = "Edit Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content" class="content">

    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Settings</a></li>
    </ol>

    <h1 class="page-header">Edit Settings <small>  </small></h1>

    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <a class="btn btn-default" asp-action="Index">Back to list</a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
