@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Areas/Identity/Pages/_IdentityLayout.cshtml";
}

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->
<!-- begin login-cover -->
<div class="login-cover">
    <div class="login-cover-image" style="background-image: url(/assets/img/login-bg/login-bg-15.jpg)" data-id="login-cover-image"></div>
    <div class="login-cover-bg"></div>
</div>
<!-- end login-cover -->
<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header" style="width: 500px;">
            <div class="brand">
                @ViewData["Title"]
                <small>
                    Please check your email to reset your password.
                </small>
            </div>
            
        </div>
        <!-- end brand -->
        
    </div>
    <!-- end login -->
    
</div>
<!-- end page container -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
